@model BadmintonShop.Models.DAL.New
<div class="container_fullwidth">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
					<h5 class="name">@Html.DisplayFor(model => model.Title)</h5>
					<p>
						<span class="light-red">
							Tin chi tiết
						</span>
					</p>
					<p>
						@Html.Raw(@Model.Content)
					</p>
					
				</div>

				<div class="clearfix">
				</div>

				<div class="clearfix">
				</div>
			</div>
			<div class="col-md-3">

				<div class="clearfix">
				</div>
			</div>
		</div>
		<div class="clearfix">
		</div>
	</div>
<div class="clearfix">
</div>