
@{
    Layout = null;
}

<div class="footer">
	<div class="footer-info">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="footer-logo"><a href="/Test/index"><img src="~/template/images/logo1.png" alt=""></a></div>
				</div>
				<div class="col-md-3 col-sm-6">
					<h4 class="title">Thông tin <strong>liên hệ</strong></h4>
					<p>Số 236, Hoàng Quốc Việt, Hà Nội , Việt Nam</p>
					<p>Liên hệ : (084) 1900 1008</p>
					<p>Email : cnttc151@gmail.com</p>
				</div>
				
				<div class="col-md-3">
					<h4 class="title">Về <strong>chúng tôi </strong></h4>				
					<p>Prokennex-Shop cầu lông. </p>
					<p>Chuyên cung cấp các phụ kiện cầu lông chính hãng, giá cạnh tranh, ship hàng tận nơi</p>
				</div>
			</div>
		</div>
	</div>
</div>