@model IEnumerable<BadmintonShop.Models.DAL.Producer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="card">
            <div class="card-action">
                Bảng nhà sản xuất
            </div>
            <hr />
            <div class="col-sm-6">
                <div class="dataTables_length">
                    <a class="btn btn-sm btn-default" href="/Admin/Producer/Create"><img src="~/Content/image/Button-Add-icon.png" height="27" /></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div id="dataTables-example_filter" class="dataTables_filter">
                    @using (Html.BeginForm("Index", "Producer", FormMethod.Post, new { @id = "search-form" }))
                    {
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Tìm kiếm" name="SearchTerm" value="@ViewBag.SearchTerm" id="search-box">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    }
                </div>
            </div>
            <div class="card-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Nhà sản xuất</th>
                                <th>Ảnh</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 1;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.Name)*@
                                        <img src="@item.Images" width="150" height="80"/>
                                    </td>
                                    <td>
                                        <div>
                                            <a href="/Admin/Producer/Edit/@item.ID" data-toggle="tooltip" title="Cập nhập nhà sản xuất" class="btn btn-default btn-sm">
                                                <img src="~/Content/image/edit-validated-icon.png" />
                                            </a>
                                            @*<a href="/Admin/Producer/Details/@item.ID" data-toggle="tooltip" title="Chi tiết nhà sản xuất" class="btn btn-default btn-sm">
                                                <img src="~/Content/image/Actions-view-list-details-icon.png" />
                                            </a>*@
                                            <a href="/Admin/Producer/Delete/@item.ID" data-toggle="tooltip" title="Xóa nhà sản xuất" class="btn btn-default btn-sm" onclick="return Xoa();">
                                                <img src="~/Content/image/Actions-edit-delete-icon.png" />
                                            </a>
                                            <script type="text/javascript" language="javascript">
                                                function Xoa() {
                                                    var result = confirm("Nếu xóa nhà sản xuất này thì tất cả các sản phẩm của nó sẽ bị xóa hết\nBạn có thực sự muốn xóa không?");
                                                    if (result) {
                                                        return true;
                                                    }
                                                    alert("Bạn có thể đặt tất cả sản phẩm của hãng này ở trạng thái ngừng kinh doanh!");
                                                    return false;
                                                }
                                            </script>
                                        </div>

                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
