@model IEnumerable<BadmintonShop.Models.DAL.Product>
@using System.Globalization
@{
	Layout = null;
	CultureInfo culture = new CultureInfo("vi-VN");
}
@foreach (var item in Model)
{
	<div class="col-md-3 col-sm-6">
		<div class="products">
			<div class="offer">New</div>
			<div class="thumbnail">
				<a href="/Test/details/@item.ID">
					<img width="150" height="220" src="@item.IMG" />
				</a>
			</div>
			<div class="productname">@Html.ActionLink(item.Name, "details", "Test", new { id = item.ID }, null)</div>
			<h4 class="price">@item.Price.ToString("c", culture).Split(',')[0] VNĐ</h4>
			<div class="button_group"><a href="/Test/AddToCart?productId=@item.ID&quantity=1" class="btn btn-success">Add To Cart</a></div>
		</div>
	</div>
}